<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        <%= htmlWebpackPlugin.options.title %> | PicStory
    </title>
</head>

<body>
    <header-app class=" sticky-top" logo="../../favicon.png" brandName="<%= brandName %>"></header-app>

    <main class=" container-fluid flex w-100">
        <hero-app img="/image/hero-account.png" title="akun"></hero-app>

        <main-app class="container-fluid w-100 p-auto px-5">
            <account-app class="padded-20 account-app">
                <label-account type="user"></label-account>
                <label-account type="email"></label-account>
                <label-account type="password"></label-account>
                <input-account type="user"></input-account>
                <input-account type="password"></input-account>
                <button type="button" class="btn btn-danger">hapus akun</button>
            </account-app>
        </main-app>

    </main>

    <footer-app class="bg-body-tertiary text-center"></footer-app>
</body>

</html>