<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %> | PicStory
  </title>
</head>

<body>
  <header-app class=" sticky-top" brandName="<%= brandName %>"></header-app>

  <main class=" container-fluid flex w-100">
    <hero>
      <img src="./image/hero.jpg" class="rounded mx-auto d-block" style="max-width: 10rem;" alt="...">
    </hero>

    <main-app class="container-fluid w-100 p-auto px-5">
      <h1 class="text-center">aku ingin denger cerita kamu hari ini</h1>
      <post-list>

      </post-list>
    </main-app>

  </main>

  <footer-app>
    test
  </footer-app>
</body>

</html>